<div class="row" id="experience">
  <div class="col-12">
    <h2>Experience</h2>
    <hr>

    <!-- Postdoctoral Researcher -->
    <div class="mb-4">
      <h4>Postdoctoral Researcher, Project Acrobath</h4>
      <h5 class="text-muted">École Centrale de Lyon — Lyon, France</h5>
      <p><em>May 2024 – Dec 2025</em></p>
      <ul>
        <li><strong>Overview:</strong> Developed 6D pose detection models for industrial forged objects and used Maniskill for simulation studies. Worked on many
          object detection models such as Detection transformer, YOLO, and SOTA segmentation model integration for occlusion handling. Further, the project involves
          development of custom 6D Pose detection models for the industrial use-case </li>
      </ul>
    </div>

    <!-- Member Technical Staff -->
    <div class="mb-4">
      <h4>Member Technical Staff</h4>
      <h5 class="text-muted">Streamoid Technologies Pvt Ltd — Bengaluru, India</h5>
      <p><em>Aug 2021 – June 2023</em></p>
      <ul>
        <li>Fine-grained fashion image classifiers for e-commerce websties</li>
        <li>Virtual model generation with sub‑modules such as skin segmentation, face swap, image translation GANs, cloth segmentation, warping tech‑
niques, and Virtual Try‑ON methods</li>
        <li>Development of a hybrid segmentation model for background change, shadow addition, and creating HR fashion images from photoshoots</li>
      </ul>
    </div>

    <!-- Research Assistant -->
    <div class="mb-4">
      <h4>Research Assistant</h4>
      <h5 class="text-muted">National Taiwan University of Science and Technology — Taipei, Taiwan</h5>
      <p><em>Sep 2019 – June 2021</em></p>
      <ul>
        <li>Artificial Intelligence projects in Deep Visual Computing and Analysis: The project mainly focus on development of various techologies for printed documents</li>
      </ul>
    </div>

    <!-- Junior Research Fellow -->
    <div class="mb-4">
      <h4>Junior Research Fellow</h4>
      <h5 class="text-muted">VEL TECH University — Chennai, India</h5>
      <p><em>Aug 2014 – July 2016</em></p>
      <ul>
        <li>Projects handled:
          <ol type="1">
            <li>Micro Ornithopters (Indo–Taiwan project)</li>
            <li>Structural Health Monitoring for Railway Bridges and Heritage Structures (Indo–Canada project)</li>
          </ol>
        </li>
      </ul>
    </div>

    <!-- Project Engineer -->
    <div class="mb-4">
      <h4>Project Engineer</h4>
      <h5 class="text-muted">Kalpataru Power Transmission Limited — India</h5>
      <p><em>Feb 2010 – June 2011</em></p>
      <ul>
        <li>Maintained field quality, scheduling, and liaised for approvals with Power Line, NHAI, and Railway authorities</li>
      </ul>
    </div>
  </div>
</div>
